<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


    <context:component-scan base-package="com.xioruu.spring"/>


    <aop:config proxy-target-class="true">
        <!--通过aop定义事务增强切面-->
        <aop:pointcut id="serviceMethod"  expression="execution(* com.xioruu.spring..*(..))"/>
        <aop:pointcut id="serviceMethod2" expression="execution(* com.xioruu.spring.HelloWorld.sayHelloWorld(..))"/>
        <!--引用事务增强-->
        <aop:advisor advice-ref="testAdvisor" order="0" pointcut-ref="serviceMethod"/>
        <aop:advisor advice-ref="testAdvisor2" order="1" pointcut-ref="serviceMethod2"/>
    </aop:config>
</beans>